.breadcrumbs, .innerRight, .highslide-loading, .loading, .content .topmenu, 
.content .left, .content .ctn .icon_links, .highslide-html-content, #printLink, 
.highslide, #logobox 
{display: none;}


body {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.content .left .logo img {border: none; }
#printlogo { margin-bottom:30px; }
h1 { font-size:18px; text-transform:uppercase; }
strong, p { font-size:12px; text-transform:normal; padding-top:0; margin-top:0; }

.content .right .rgt_fb_ctn {margin:12px 0;padding:12px 0;border-top:1px dotted black;}

.floatLeft { float:left; padding-right: 17px; padding-bottom:17px;clear:both; }
.floatRight { float:right; padding-left: 17px;  padding-bottom:17px;clear:both; }

/*
.content .ctn {width: 480px; float: left; margin: 0; margin-right: 10px;}
.content .ctn  img.bigpic {width: 470px;}
.content .right {width: 150px; padding: 0; margin: 0; float: left; }
.content .right .rgt_fb_ctn .top {background-color: #a4eae7; margin-left: -12px; margin-right: -12px; padding-left: 12px; margin-bottom: 5px; height: 17px; font-weight: bold; padding-top:1px; font-size: 11px; }
.rgt_fb_ctn { font-size:11px; }
.fb_editor_fld { font-size:11px; margin-top:0 !important; padding-top:0 !important; }
.fb_editor_fld p, .fb_editor_fld p strong, .fb_editor_fld strong{ font-size:11px; }


.rgt_fb_ctn { margin-bottom:10px; }
div.top { font-size:10px !important; margin-bottom:0px !important; paddint-bottom:0px !important; }
a { color:#d11f58 !important; text-decoration:none; }

.content .ctn .ctnRightCol.narrow				{float: left; width: 326px;}
.content .ctn .ctnRightCol.narrowLargeImage		{float: left; width: 256px;}
.content .ctn .ctnRightCol.wide					{float: left; width: 516px; margin-top:5px;}

.content .ctn .ctnLeftCol						{width: 128px;  height: 300px; float: left; margin-left: 0px; padding: 0 12px 0 0;}
.content .ctn .ctnLeftCol.LargeImage				{width: 248px;  height: 300px; float: left; margin-left: 0px; padding: 0 12px 0 0;}
*/